:root {
    --dark: black;
    --light: #fff;
}



body {
    position: relative;
    background-color: var(--light);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark);
    text-align: center;
}



main {
    margin:0;
    padding:0;
}


h1 {
    text-align: center;
    margin: 40px;
}

.about-me {
    display: inline-block;
    background-color: black;
    width: 800px;
    height: 500px;
    color: var(--light);
}
.about-me1 {
    display: inline-block;
    background-color: blue;
    width: 800px;
    height: 500px;
}

h2 {
    text-align: center;
    margin: 20px;
}


.image {
    border: 3px solid teal;
    width: 400px;
    height: 300px;
}

.container {
    max-width: 1400px;
    margin: auto;
    background-color: #9CD8BD;
    overflow: auto;
    box-shadow: 6px 6px #A8BDBF;
    border-radius: 10px;
 
}

.my-work {
    float: left;
    margin: 10px;
}

.first {
    width: 400px;
    height: 300px;
}

/* Navigation */

nav {
    float: right;
    width: 50%;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: inline-block;
    margin-left: 40px;
    padding-top: 30px;
    margin-bottom:20px;
}

 nav a{
    color: var(--dark);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    padding-top: 23px;
}

a:hover{
    background-color: var(--light);
    padding-top:8px;
}


/* Contact Form */

form {
    margin: 0 auto;
    width: 500px;
    padding: 10px;
    border: 3px solid var(--dark);

}

button{
    height: 30px;
    width:120px;
    background-color: var(--dark);
    color: var(--light);
}


input, 
textarea {
    box-sizing: border-box;
    width: 360px;
    border: 1px solid teal;
}

textarea{
    vertical-align:middle;
    text-align: center;
    height: 60px;
}

/* Header / Footer */


header::after {
    content: "";
    display: table;
    clear: both;
}

header, footer {

position: relative;
    width:100%;
    background-color: #A8BDBF;
}

footer{
    position: relative;
    bottom: 0;
    width:100%;
    height:40px;
    font-family: serif;
}